
header{
  position: relative;
}
/* topmenu */
.topmenu{
  width: 100%; height: 35px;
  background-color: #b2151a;;
  color: #fff;
  margin: auto;
  font-size: 1rem;
}
.topmenu a:hover{
  color: #ffe400;
}
.topmenu_inner{
  width: 80%; height: 100%;
  /* border: 1px solid #000; */
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topmenu_text{
  /* border: 1px solid #000; */
  font-size: .9rem;
}
.topmenu_list{
  /* border: 1px solid #000; */
  display: flex;
}
.topmenu_list li{
  display: flex;
  align-items: center;
  gap: 0.625rem;
  font-size: .9rem
  ;
}
.topmenu_list li select{
  background: none;
  color: #fff;
  border: none;
  font-size: .9rem;
}
.topmenu_list li option{
  color: #000;
}
.topmenu_list li img{
  width: 10px; height: 10px;
}
.topmenu_list .li_before_line::before{
  content: '';
  width: 1px; height: 50%;
  background-color: #fff;
  margin-left: 10px;
}
.topmenu_list .li_before_line p{
  font-size: .9rem;
}
.topmenu_list li button{
  background-color: #b2151a;
  border: none;
  cursor: pointer;
}
.topmenu_list li button img{
  width: 15px; height: 15px;
}


/* topbar */
.topbar{
  position: relative;
  margin-top: 20px;
  width: 100%; height: 80px;
  padding-bottom: 20px;
  border-bottom: 1px solid #e2e5eb;
}
.topbar_inner{
  width: 80%; height: 100%;
  margin: auto;
  /* border: 1px solid #000; */
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.topbar_inner .logo{
  height: 80px;
  margin-top: 15px;
}
.topbar_inner .logo img{
  height: 60px;
}
/* 탑 메뉴바 중앙 네비바 */
.topbar_inner nav.navbar{
  width: 80%;
}
.topbar_inner nav.navbar ul{
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.topbar_inner nav.navbar > ul> li::before{
  
}
.topbar_inner nav.navbar > ul> li:hover::before{
  
}
.topbar_inner nav.navbar > ul> li> a{
  display: inline-block;
  padding: 26px;
  position: relative;
  transition: 2s;
  font-size: 1.1rem;
  font-weight: 600;
  margin-top: 10px;
}
.topbar_inner nav.navbar > ul> li> a::after{
  content: '';
  background-color: #B2151A;
  position: absolute;
  bottom: 0px; left: 0%;
  width: 0; height: 3px;
  /* transform: translateX(-50%); */
}
.topbar_inner nav.navbar > ul> li> a:hover::after{
  content: '';
  
  width: 10%0; 
  
}
.topbar_inner nav.navbar > ul> li> a:hover{
  color: #B2151A;

}
.topbar_inner .submenu_container{
  position: absolute;
  padding: 0;
  top: 60px; left: 0;
  background-color: #fefefe;
  width: 100%; height: max-content;
  z-index: 10;
  display: none;
}
/* 활성 메뉴에서 보여지는 서브메뉴 배경색 */
.submenu-item.active {
  background-color: #fff;
    /* 원하는 배경색 */
    color: #000;
}
.submenu-item{
}
.topbar_inner .submenu_container .inner{
  width: 80%;
  margin: auto;
}
.topbar_inner .submenu_container .inner> ul{
  display: flex;
  width: 80%;
  margin-left: auto;
  justify-content: space-between;
}
.topbar_inner .submenu_container .inner> ul li{
  
  width: 31%;
}
.topbar_inner .submenu_container .inner> ul li > a{
  display: block;
  padding: 20px 10px;
  text-align: center;
  
}
.topbar_inner .submenu_container .inner> ul li > a:hover{
  color: #B2151A;

}

/* 탑 메뉴바 가장 오른쪽 아이콘들 */
.topbar_inner .btnmenu{
  display: none;
}
.topbar_inner .btnmenu ul{
  display: flex;
  gap: 10px;
}
.topbar_inner .btnmenu ul li a{
  padding: 15px 0px 15px 15px;
}
/* login section */
.login-section{
  
    width: 100%;
    margin: 100px 0;
}
.login-page{
    width: 70%; height: 100%;
    margin: auto;
    
}
/* .login-top */
.login-top{}
.login-top h2{
    margin-bottom: 40px;
    font-size: 2.2rem;
}
.login-top .mw_use_toggle{}
.login-top .mw_use_toggle .user_toggle{
    
}
.login-top .mw_use_toggle .user_toggle input{
  width: 20px; height: 20px;
  margin-right: 10px;
}
.login-top .mw_use_toggle .user_toggle label{
    font-size: 1.1rem;
}
.login-top .mw_use_toggle p{
    margin: 20px 0;
    margin-bottom: 20px;
    font-size: 1.1rem;
    color: #727272;
}
/* .login-center */
.login-center{
    padding: 40px 100px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    display: flex;
    
}
.login-center .login_form_box{
    width: 45%;
    border-right: 1px solid #ccc;
    margin: auto;
}
.login-center .login_form_box .label_group{
  
}
.login-center .login_form_box .label_group p{
  margin-top: 20px;
}
.login-center .login_form_box .label_group p label{
    
}

.login-center .login_form_box .label_group .comp{
    
}
.login-center .login_form_box .label_group .comp input{
    width: 80%;
    border-radius: 8px;
    height: 50px;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #727272;
    font-size: 1.188rem;
}
.login-center .login_form_box .txt_small_info{
    
}
.login-center .login_form_box .mw_chkbox{
  padding: 10px 0;
  font-size: 1rem;
  
}
.login-center .login_form_box .mw_chkbox input{
  width: 20px; height: 20px;
  margin-bottom: 20px;
}
.login-center .login_form_box .mw_chkbox label{
  padding: 0 10px;
  font-size: 1rem;
}
.login-center .login_form_box .txt_small_info{}
.login-center .login_form_box .login_btn{
  width: 80%;
  border-radius: 8px;
  height: 50px;
    padding: 10px;
    margin: 10px 0;
    color: #fff;
    background: #B2151A;
    border: none;
    font-size: 1rem;
}
.login-center .login_form_box .btn_group{
  
  text-align: center;
  width: 80%; height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login-center .login_form_box .btn_group a{
  padding: 10px;
}
.login-center .login_form_box .block{
  width: 80%; height: 45px;
  
  align-items: center;
text-align: center;
display: flex;
justify-content: center;
margin: 40px 0;
}
.login-center .login_form_box .block a{
  padding: 10px;
  color: #404040;
}
.login-center .login_form_box .block img{
  width: 20px; height: 20px;
}
.login-center .login_method_box{
    width: 50%;
    padding: 25px 0;
}
.login-center .login_method_box ul{}
.login-center .login_method_box ul li{
  list-style: disc;
  list-style-position: outside;
  color: #404040;
  font-size: 1.188rem;
  margin-bottom: 60px;
  line-height: 1.5rem;
  margin-left: 100px;
}
.login-center .login_method_box ul li::marker{
  font-size: .8rem;
  color: #404040;
  
}
/* .login-bottom */
.login-bottom{
  margin: 20px 0;
  
}
.login-bottom .block{
  display: flex; gap: 40px;
  align-items: center;
  
}
.login-bottom .block p{
  font-size: 1.2rem;
  font-weight: bold;
}
.login-bottom .block a{
  display: flex; 
  color: #404040;
  font-size: 1.2rem;
  align-items: center;
}
/* .box_info */
.box_info{
  width: 100%; height: fit-content;
  padding: 40px;
  border: 1px solid #ccc;
  border-radius: 20px;
}
.box_info p{
  color: #1d1d1d;
  font-size: 1.2rem;
  font-weight: bold;
}
.box_info p img{
  width: 20px; height: 20px;
  margin-right: 10px;
}
.box_info ul{
  padding-top: 40px;
  padding-left: 20px;
}
.box_info ul li{
  list-style: disc;
  margin-left: 40px;
  font-size: 1.2rem;
  color: #404040;
}
.box_info ul li a{
  
  text-decoration: underline;
}


/* footer_banner */
.banner{
  width: 100%; height: 135px;
  background-image: url(/image/footer-banner-bg.png);
  background-position: top; 
  background-size: cover;
  object-fit: fill;
  border: none;
  background-repeat: no-repeat;
}
.banner .banner_inner{
  width: 80%; height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
}
.banner .banner_inner .banner_text{
  width: 600px;
  
}
.banner .banner_inner .banner_text p{
  margin: 20px 0;
  font-size: 1.1rem;
  color: #727272;
}
.banner .banner_inner .banner_text p.title{
  font-weight: 600;
  color: #fff;
  font-size: 2.25rem;
}
.banner .banner_inner .banner_text p.con{
  display: none;
}
.banner .banner_inner .banner_text p.title span{
  font-weight: 600;
  color: #b2151a;
  font-size: 2.25rem;
}
.banner .banner_inner .banner_img{
  margin-left: 80px;
}
.banner .banner_inner .banner_img img{}
.banner .banner_inner button{
  width: 207px; height: 66px;
  margin-left: auto;
  border-radius: 50px;
  background-color: #b2151a;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border-style: none;
}
.banner .banner_inner button p{
  font-size: 1.188rem
}
.banner .banner_inner button .icon{
  width: 30px; height: 30px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.banner .banner_inner button .icon img{
  width: 7.4px; height: 12px;

}
/* footer */
.footer.logo_box{
}
.footer_inner{
  width: 80%;
  margin: auto;
  
}
.footer .channel_contents{
  border-bottom: 1px solid #40404071;
  
}
.footer .channel_contents ul{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
}
.footer .private{
  border-bottom: 1px solid #40404071;
}
.footer .private ul{
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
  align-items: center;
  color: #404040;

}
.footer .private ul #private{
  font-weight: 600;
  text-decoration: underline;
  color: #B2151A;
}
.footer .menu{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 20px 0;
}
.footer .menu .logo img{
  max-width: fit-content; height: 50px;
  /* border: 1px solid #000; */
  display: flex;
  align-items: center;
}
.footer .menu .text{
  width: 890px; 
  color: #404040;
  
}
.footer .menu .text p{
  margin-bottom: 30px;
  font-size: 0.75rem;
}
.footer .menu .text span{
  font-size: 0.75rem;
  font-weight: 600;
}
.footer .menu .img{
  
  /* border: 1px solid #000; */
  display: inline-block;
}
.footer .menu .img img{
  margin: 10px;
  /* border: 1px solid #000; */
}
